#barra-acessibilidade {
  position: center;
  top: 100px;
  text-align: right;
  right: 10px;
  background-color: #1f0506;
  padding: 1px;
  border-radius: 8px;
}

#barra-acessibilidade button {
  padding: 0px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #ffb000; 
  color: #1f0506;
}

#barra-acessibilidade button:hover {
  background-color: #555;
}

/* Contraste alto */
.contraste-alto {
  background-color: #ffffff !important;
  color: #ff0000 !important;
}

.contraste-alto a,
.contraste-alto button {
  color: rgb(255, 0, 0) !important;
}

.contraste-alto img {
  filter: brightness(0.8) contrast(2.2);
}
